$mainColor:#468faf; 

@mixin size($width, $height:$width) {
    width: $width;
    height: $height;
}

@mixin bgcolor($color) {
    background-color: $color;
}

@mixin font($font: "text") {
    @if $font == "title" {
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }
    @if $font == "infor" {
        font-size: 17px;
    }
    @if $font == "text" {
        font-size: 15px;
    }
}

@mixin absoluteCenter($direction:"left") {
    position: absolute;
    
    @if $direction == "left" {
        left: 50%;
        transform: translateX(-50%);
    }

    @if $direction == "top" {
        top: 50%;
        transform: translateY(-50%);
    }

    @if $direction == "both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}